pyrogram==2.0.106
pyromod==1.5
tgcrypto
aiohttp
aiofiles
requests
hachoir
cloudscraper
pycryptodome
pytz
motor
PyJWT
beautifulsoup4
httpx
tqdm
colorama
termcolor
python-dotenv
flask
python-telegram-bot==20.6
